{% extends "base.html" %}
{% block title %} ACME Dashboard {% endblock %}
{% block extra_headers %}

{% load staticfiles %}

  <!-- Materialize -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <!-- Golden-Layout -->
  <script src="{% static "js/resources/goldenlayout.min.js"%}"></script>
  <link type="text/css" rel="stylesheet" href="{% static "css/goldenlayout-base.css"%}"/>
	<link type="text/css" rel="stylesheet" href="{% static "css/goldenlayout-dark-theme.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "css/goldenlayout-light-theme.css"%}"/>

  <!-- AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js"></script>

  <script src="{% static "js/controllers/app.js" %}"></script>
  <script src="{% static "js/controllers/cdat.js" %}"></script>
  <script src="{% static "js/controllers/esgf.js" %}"></script>
  <script src="{% static "js/controllers/run_manager.js" %}"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <!-- AngularJS Tree -->
  <script src="{% static "js/resources/angular-tree-control.js"%}"></script>
  <link rel="stylesheet" href="{% static "css/tree-control.css"%}">

  <!-- Typehead and Bloodhound -->
  <script src="{% static "js/resources/typeahead.bundle.js"%}"></script>
  <link rel="stylesheet" href="{% static "css/typeahead.css"%}">

  <!-- Bootstrap -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>

  <!-- Font Awesome -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

  <!-- Slick Carousel -->
  <script src="{% static "js/resources/slick.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}"/>
  <link rel="stylesheet" href="{% static "css/slick-theme.css" %}">

  <!-- Code Mirror -->
  <link rel="stylesheet" href="{% static "css/twilight.css" %}">
  <link rel="stylesheet" href="{% static "css/3024-day.css" %}">
  <link rel="stylesheet" href="{% static "css/codemirror.css" %}">


  <!-- mTree -->
  <!-- <link rel="stylesheet" href="{% static "css/mtree.css" %}">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/0.2.1/jquery.velocity.min.js'></script> -->

  <!-- Quick tree for cdatweb (change over to m-tree later?)-->
  <script type="text/javascript" src="{% static "js/resources/quicktree.js" %}"></script>
  <!-- CDAT Web css-->
  <link rel="stylesheet" href="{% static "css/cdat.css" %}">

  <!-- Material Spinner see:http://jsfiddle.net/augburto/ejxj7tfb/-->
  <link rel="stylesheet" href="{% static "css/spinner.css"%}">

  <!-- vtkweb -->
  <!-- <script type="text/javascript" src="{% static "vtkweb/js/autobahn.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vtkweb/js/jquery.hammer.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vtkweb/js/vtkweb-all.js" %}"></script>
  <script type="text/javascript" src="{% static "js/resources/cdat.js" %}"></script>
  <script type="text/javascript">cdat.visualization_launcher = "{{ vis_launcher }}";</script> -->

  <!-- Dashboard -->
  <link rel="stylesheet" href="{% static "css/dashboard.css"%}">


  <!--Dashboard main-->
  <!-- <script type="text/javascript" src="{% static "js/dashboard.js" %}"></script> -->
{% endblock %}



{% block dropmenu %}

  <!-- <nav class="menu" id="slide-menu-left" style="top: 50px; z-index:22;">
    <ul id="side-menu">
      <div id="velo_window"></div>
      <div id="esgf_window"></div>
      <div id="cdat_window"></div>
      <li><button type="button" class="btn menu-btn" id="new-plot">New Plot</button></li>
    </ul>
    <br>
    <button type="button" class="btn menu-btn" id="dark-mode-toggle">Dark mode is off</button>1
    <button type="button" class="btn menu-btn" id="save-layout">Store Current Layout</button>
    <button type="button" class="btn menu-btn" id="load-layout">Load Previous Layout</button>
  </nav> -->
  <!-- Nav left menu -->

{% endblock %}

{% block content %}

{% endblock %}
{% block layout %}
  <div class="wrapper" id="layout-wrapper">
    <ul id="menuContainer"></ul>
    <div class="layoutContainer" id="layoutContainer" ng-controller="DashboardControl" ng-init="init()">
      <div class="">
        <template type="text/html" id="cdat_wrapper">
          <div class="cdat_window" ng-controller="CDATControl" ng-init="init()">

          </div>
        </template>
      </div>
      <div class="">
        <template type="text/html" id="esgf_wrapper">
          <div class="esgf_window" ng-controller="ESGFControl" ng-init="init()">
            <div class="progress" ng-show="ready == false">
              <div class="indeterminate"></div>
            </div>
            <ng-include src="'{% static 'partials/esgf_window.html' %}'"></ng-include>
          <div>
        </template>
      </div>
      <div class="">
        <template type="text/html" id="run_manager_wrapper">
          <div class="run_manager_window" ng-controller="RunManagerControl" ng-init="init()">
            <div class="progress" ng-show="ready == false">
              <div class="indeterminate"></div>
            </div>
            <ng-include src="'{% static 'partials/run_manager_window.html' %}'"></ng-include>
          </div>
        </template>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static "js/controllers/window.js"%}"></script>



{% endblock %}
