{% extends "base.html" %}
{% block title %} publication home{% endblock %}
{% block extra_headers %}

{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1>ACME</h1>
  <p class="lead">
    The ACME Dashboard is currently under development. Please report any issues via the "site issues" link below.
  </p>

  <p><a class="btn wave-effect" href="/acme/dashboard" role="button">dashboard</a></p>

</div>

{% endblock %}

{% block footer %}
  <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
    <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="#">Privacy &amp; Legal Notice</a> &nbsp;
    <a style="color: #64b5f6; margin-left: 2vw;" href="https://github.com/ACME-OUI/acme-web-fe/issues">Site Issues</a>
  </footer>
{% endblock %}
