{% extends "base.html" %}
{% block title %} logout {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link href="/acme/static/css/form.css" rel="stylesheet">
<button class="btn btn-lg btn-primary btn-block" type="submit" name="logout" value="logout">Log Out</button>
{% endblock %}

{% block footer %}
  <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
    <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="#">Privacy &amp; Legal Notice</a> &nbsp;
    <a style="color: #64b5f6; margin-left: 2vw;" href="https://github.com/ACME-OUI/acme-web-fe/issues">Site Issues</a>
  </footer>
{% endblock %}
