*.sqlite3
*.log
*.pot
*.pyc
*.DS_Store
local

local_settings.py

admin/
css/
env/
filetree/
fonts/
images/
js/


acme_site/static/filetree/example.py
acme_site/static/systemtest/
acme_site/static/http.py

update.py
