*.sqlite3
*.log
*.pot
*.pyc
*.DS_Store
local

jira_credentials.py
local_settings.py

/admin/
/css/
/env/
/filetree/
/fonts/
/images/
/js/
/jspanel/
/java/

static/filetree/example.py
static/systemtest/*
static/http.py
scripts/update.py
scripts/registration.xml
apps/web_fe/migrations
update.py

*.sublime-project
*.sublime-workspace
db

/migrations

.coverage
cover

log.html
output.xml
report.html
selenium-screenshot-*.png
selenium_server_log.txt
userdata
