*.sqlite3
*.log
*.pot
*.pyc
*.DS_Store
*.idea/
local

jira_credentials.py
local_settings.py

/admin/
/css/
/env/
/filetree/
/fonts/
/images/
/js/
/jspanel/
/django-sendfile/
/userdata/

static/filetree/example.py
static/systemtest/*
static/http.py
scripts/update.py
apps/web_fe/migrations
apps/poller/migrations
apps/run_manager/migrations
apps/run_manager/run_scripts/
update.py
*migrations/
apps/run_manager/resource/test/*
apps/run_manager/resource/test
*.sublime-project
*.sublime-workspace
*.zip
db

/migrations
cover
.coverage
coverage.xml
cover
climateTestFile.nc

/webroot
sftp-config.json
ftp-sync.json

\\.vscode