<style>
  .worktron{
    overflow: auto; 
  }
</style>
<div class="jumbotron worktron">
  <style>
    .badge{
      background-color:#b94a48 !important;
    }
    .my-badge{
      position: relative;
      top: -35px;
      left: 35px; 
    }
    .glyphicon-bell{
      color:#b94a48;
      font-size: 1.2em;
    }
    .my-bell{
      position: relative;
      top: 20px;
      right: 10px; 
    }
    .acme{
      position: relative;
      right: 10px;
    }
    .btn{
      margin:0px;
      height:40px;
      width:110px;
    }
    .caret{
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #000000;
    }
    .left-transfer{
      position: absolute;
      top: 0;
      left: 0; 
    }
    .right-transfer{
      position: absolute;
      top: 0;
      right: 0;
    }
    .work-flow{
      list-style-type: none;
    }
    .work-flow-item{
      float: left;
      padding: 3px 12px 3px 3px;
    }
  </style>


  <a class="left-transfer" onclick="hide_show_left()" href="javascript:void(0)"><span class="glyphicon glyphicon-transfer"></span></a>
  <ul class="work-flow">
    <li class="work-flow-item">
    <label id="wfname"></label>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/code"><strong>Code</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/config"><strong>Config</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/inputs"><strong>Inputs</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/build"><strong>Build</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/run"><strong>Run</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
    <li class="work-flow-item">
    <div class="btn btn-default">
      <div class="acme">
        <a class="my-bell"  onclick="bell('0', 'code')" href="javascript:void(0)"><span class="glyphicon glyphicon-bell"></span></a>
        <a href="/acme/output"><strong>Output</strong></a> &nbsp;
        <a class="my-caret" onclick="caret('0', 'code')" href="javascript:void(0)"><span class="caret"></span></a>
        <a class="my-badge" onclick="badge('0', 'code')" href="javascript:void(0)"><span class="badge pull-right">19</span></a>
      </div>
    </div>
    </li>
  </ul>
  <a class="right-transfer" onclick="hide_show_right()" href="javascript:void(0)"><span class="glyphicon glyphicon-transfer"></span></a>
</div>
<script>
  function caret(id, step){
    alert("caret: " + step);
  }
  function badge(id, step){
    alert("badge: " + step);
  }
  function bell(id, step){
    alert("bell: " + step);
  }
</script>

