{% extends "base.html" %}
{% block title %} work flow home{% endblock %}

{% block content %}
<script src="/acme/static/js/cookie.js" type="text/javascript"></script>
<script src="/acme/static/js/akuna.js" type="text/javascript"></script>
<script src="/acme/static/js/work_flow_home.js" type="text/javascript"></script>

<div id="center">
  <style>
    div.myBox{
      background: none;
      border: 1px solid #ccc;
      border-radius: 0;
      margin:  auto;
      margin-bottom: 20px;
      padding: 15px 30px;
    }
  </style>

  <div class="jumbotron">
    <h2>Workflow Home</h2>
    <h5><a onclick="userinfo()" href="javascript:void(0);">user info</a></h5>
    <div id="userinfo" style="display: none">
      <table class="table">
        <tr>
          <td> <h4>AKUNA</h4> </td> <td></td> <td> <h4>ESGF</h4> </td> <td></td>
          </tr><tr>
          <td> <h5>username:</h5> </td> <td> <h5><input type="text" id="akunausername"></h5></td>
          <td> <h5>openid:  </h5> </td> <td> <h5><input type="text" id="esgfopenid">   </h5></td>
          </tr><tr>
          <td> <h5>password:</h5> </td> <td> <h5><input type="password" id="akunapassword"></h5></td>
          <td> <h5>password:</h5> </td> <td> <h5><input type="password" id="esgfpassword"> </h5></td>
        </tr>
      </table>
      <h4>
        <a class="" onclick="saveinfo('save')"  href="javascript:void(0);"><button class="btn btn-success">save</button></a>
        <a class="" onclick="userinfo()"        href="javascript:void(0);"><button class="btn btn-warning">cancel</button></a>
        <a class="" onclick="saveinfo('clear')" href="javascript:void(0);"><button class="btn btn-danger">forget</button></a>
      </h4>
    </div>
  </div>
  <div id="message"></div>

  <div class="myBox">
    <h3>Available Templates </h3>
    <div id="avaiabletree"></div>
  </div>

  <div class="myBox">
    <h3>User Workflows</h3>
    <div id="getchildren">

    </div>
  </div>
<!--
  <div class="myBox">
    <h3>Machine mesaages</h3>
    <div id="messages">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#live" data-toggle="tab">Live</a></li>
        <li><a href="#logs" data-toggle="tab">Logs</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="live">
          <br/>
          show live feed 
        </div>
        <div class="tab-pane" id="logs">
          <br/>
          show logs 
        </div>
      </div>
    </div>
  </div>
-->
</div>
{% endblock %}
