/* CDAT Tiles */

.plot-content {
    width: 100%;
    height: 100%;
}

.cdat-plot-panel {
    width: 100%;
    height: 100%;
}

.cdat-plot-panel h3 {
  text-align: center;
}
.qtree a {
  cursor: pointer;
}

.cdat-draggable {
  cursor: grab;
  cursor: -webkit-grab;
}

.cdat-draggable.holding {
  cursor: grabbing;
}

.cdat-draggable.ui-draggable-dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.cdat-dragging-success {
  cursor: not-allowed;
}
.cdatweb-plot-templates {
  margin-left: 0;
}

ul.qtree li {
  margin-bottom: 1px;
}
ul.qtree li:last-child {
  margin-bottom: 0px;
}
ul.qtree li:first-child {
  margin-top: 1px;
}

ul.qtree li > a:hover {
  background: #FFC000;
  color: #FFF;
}
ul.qtree a {
  padding: 5px 0px 5px 0.8em;
}
ul.qtree li li > a {
  padding-left: 1.5em;
}
ul.qtree li li li > a {
  padding-left: 2em;
}
ul.qtree li li li li > a {
  padding-left: 2.5em;
}
ul.qtree li li li li li > a {
  padding-left: 3em;
}
ul.qtree {
  opacity: 1;
  margin-left: 0;
  /*padding: 0.2em;*/
  height: 100%;
}

ul.qtree li {
  list-style: none;
}
ul.qtree a {
  display: block;
}

ul.qtree a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.qtree a  {
  font-weight: bold;
  background: #E3E3E3 none repeat scroll 0% 0%;    
}

ul.qtree li.ui-draggable {
  
  background: #E3E3E3 none repeat scroll 0% 0%;
  padding: 5px 0px 5px 0.8em;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.qtree li.ui-draggable:hover {
  background: #FFC000;
  color: #FFF;
}

ul.qtree li.ui-draggable.mousehold {
  background: #428BCA;
}

/*ul.qtree li.ui-draggable:active { 
  background: #428BCA;
}*/

.cdat-draggable.ui-draggable-dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
