
/*============================================================================
   General 
  ============================================================================*/

body {
    overflow-x: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#button_row {
  margin-left: auto;
  margin-right: auto;
  width: 1165px;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.day{
    background: -webkit-linear-gradient(75deg, #ddd, #999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(75deg, #ddd, #999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(75deg, #ddd, #999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(75deg, #ddd, #999); /* Standard syntax */
    color: #222;
    border-color: #000;
}

.night{
    background: -webkit-linear-gradient(75deg, #051451, #051410); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(75deg, #051451, #051410); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(75deg, #051451, #051410); /* For Firefox 3.6 to 15 */
    background: linear-gradient(75deg, #051451, #051410); /* Standard syntax */
    border-color: #00f;
}

.tile-holder {
    margin-left: 29%;
}

#velo-image img{
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*============================================================================
    Velo window
  ============================================================================*/

  #velo-options-bar {
    height: 35px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }

  #velo-file-tree {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: none;
  }

  #mtree-container {
    overflow-y: auto;
    height: calc(100% - 35px);
    width: 100%;
  }

  #velo-text-edit {
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
  }

  #velo_context_menu{
    width: 100px;
    height: 70px;
    border-color: black;
    border-style: double;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    z-index: 10000;
    background: black;
  }

/*============================================================================
   ESGF window 
  ============================================================================*/


  #esgf_context_menu {
    width: 100px;
    height: 70px;
    /*border-color: black;
    border-style: double;
    border-width: 2px;
    border-radius: 10px; */
    padding: 10px 10px 10px 10px;
    z-index: 10000;
    background: black;
  }

  #esgf-node-search {
    width: 48%;
    height: 90%;
    margin-right: 0px;
    float: left;
    overflow-y: auto;
  }

  #esgf-node-tree {
    width: 100%;
    height: 90%;
    /* border: solid black 1px;
    border-radius: 5px;*/
  }

  #esgf-search-terms {
    width: 48%;
    color: #111;
    border: solid black 1px;
    border-radius: 5px;
  }

  #esgf-search-display {
    width:48%;
    height:90%;
    overflow-y: auto;
    float: right;
    border: solid black 1px;
    border-radius: 5px;
  }


/*============================================================================
   Drop down menu 
  ============================================================================*/


#drop-down-menu {
	clear: both;
	display: none;
	overflow: visible;
	width: 100%!important;
}

#drop-down-tab {
    background: -webkit-linear-gradient(180deg, #0756A6, #051451); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #0756A6, #051451); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( 180deg,#0756A6, #051451); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 180deg,#0756A6, #051451); /* Standard syntax */
	color: #222 !important;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	margin-left: 45px;
	margin-right: -15px;
}

.item-holder  { 
    border-radius: 25px;
    text-align: left;
    color: #111;
    vertical-align: middle;
    background-color:#1E70E3!;
    border: 5px solid black;   
    margin: 0 auto;
    padding-left: 10px;
    background-color: #1E70E3;
}

.item-holder a {
    color: #111;
}

/*============================================================================
   Sliding left menu 
  ============================================================================*/

.save-layout {
    position: fixed;
    top:50%!important;
    left:50%!important;
    margin-top:-150px!important;
    margin-left:-250px!important;
    width:500px;
    height:300px;
    z-index: 20;
}

#save-form{
    border:1px solid black;
    width:100%;
    height:100%; 
    margin:0 auto;
    text-align:left;
    background-color: #aaa;
}

#slide-menu-left {
    height: 100%;
    display: block;
    z-index: 10;
    background-color: #555;
    /* width: 20%; Width is set at the top of dashboard js file as sidebarWidth*/
    height:100%;
    z-index:20;
    position: fixed;
    border-top: 2px solid black;
}

#side-menu .tile-contents {
    border: 1px solid black;
    border-radius: 5px;
}

#toggle-slide-left {
    width: 116px;
}

.navbar{
    margin-bottom: 0px;
}

.input, label {
    display: block;
    margin: 2px 10px;
}

.side-window {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

nav.menu ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #000;
}
button.close-menu {
    background-color: #19802C;
    color: #fff;
}
button.close-menu:focus {
    outline: none;
}

nav.slide-menu-left {
    top: 0;
    width: 180px;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: center;
    /*border-bottom: solid 1px #fff;
    border-top: solid 1px #fff;*/
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #146322;
    color: #fff;
}

.menu-btn {
    width: 175px;
    margin: 2px 10px;
    padding: 2px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 5.0);
    opacity: 0.5;
    display: none;
}

#searchDisplay{
    overflow-y: auto;
}

#searchDisplay p{
    display: block;
    margin-left: 30px;
}

/* bevel size, left offset and color settings next 3 lines */ 
.bvc { left: -15px }
.bevel, .content { border-width: 15px }
.bevel, .content { border-color: #F7F7F7; border-style:solid; }

.bvc {
    width: 30%; /* width of overall box, variable or fixed */ 
    margin: 0 auto;
    position: fixed;
    margin-bottom: 15px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { height: 0px; width: 100%; }
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.content {
    background: #F7F7F7;
    width: 100%;
    height:100%;
    border-top: 0;
    border-bottom: 0;
}









