<style>
  #left_sidebar, #center{
    position: absolute;
  }
  #left_sidebar{
    float: left;
    width: 250px;
  }
  #right_sidebar{
    float: right;
    width: 250px;
  }
  #center{
    top: 50px;
    left: 275px;
    right: 275px;
    bottom: 50px;
  }

</style>

<script>
  function hide_show_left(){
    $("#left_sidebar").toggle('fast', function() {
      if( $("#left_sidebar").is(':visible') ){
        $("#center").css('left', '275px');
      }
      else {
        $("#center").css('left', '10px');
      }
      });
    }
  </script>

  <div id="left_sidebar">
    <div id="acme_sidebar_blank" class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">My Account</li>
        <li><a href="#">Preferences</a></li>
        <li><a href="#">Workflows</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Defaults</a></li>
        <li class="nav-header">My Groups</li>
        <li><a href="#">Performance Group</a></li>
        <li><a href="#">Coupled Systems</a></li>
        <li><a href="#">Ocean Ice Model</a></li>
        <li><a href="#">Create New Group</a></li>
        <li><a href="#">Preferences</a></li>
        <li class="nav-header">My Workflows</li>
        <li><a href="http://localhost:8000/acme/code">T31.copy</a></li>
      </ul>
    </div>
  </div>
