{% extends "base.html" %}
{% block title %} publication home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>ACME</h1>
  <p class="lead">
  The company name in the Road Runner cartoons is ironic, 
  since the word acme is derived from Greek (αιχμή / ακμή ; 
  English transliteration: acmē) meaning the peak, zenith or prime, 
  and products from the fictional Acme Corporation are both generic and failure-prone.
  </p>
  <p><a class="btn btn-lg btn-success" href="http://acme.globus.org/SignIn?redirect=http://harris112ml.llnl.gov:8000/acme/workflow" role="button">Log in</a></p>
</div>

<div id="GOmessage">
  {{ data | safe }}
</div>

<div class="row marketing">
  <center>
    <div class="col-lg-6">
      <h3><b>Videos</b></h3>
      <p>
      url: <a href="http://www-pcmdi.llnl.gov/projects/meetings/acme.php">demos</a>
      </p>
    </div>
    <div class="col-lg-6">
      <h3><b>mattben</b></h3>
      <p>
      twitter: @mattbenh<br/>
      url: <a href="http://mattben.info">mattben.info</a>
      </p>
    </div>
  </center>
</div>
{% endblock %}
