{% extends "base.html" %}
{% block title %} Issues{% endblock %}

{% block content %}

<br/>

{% for field in form %}
  <div class="form-group">
    <label>{{ field.label_tag }}</label> {{ field }}
  </div>
  <br/>
{% endfor %}

<!--
<hr>

<br/>
<form>
<select id="mySelect" class="form-control" onchange="issues()">
  <option value="0"> Please Choice One</option>
  <option value="one">1</option>
  <option value="two">2</option>
</select>
<hr>
<div id="one" style="display: none;" class="checkbox">
<select id="oneSelect" class="form-control">
  <option value="0"> 1.0</option>
  <option value="one">1.1</option>
  <option value="two">1.2</option>
</select>
</div>

<div id="two" style="display: none;" class="checkbox">
<select id="oneSelect" class="form-control">
  <option value="0"> 2.0</option>
  <option value="one">2.1</option>
  <option value="two">2.2</option>
</select>
</div>

<div id="submit" style="display: none">
<textarea class="form-control" rows="3"></textarea>

<button type="submit" class="btn btn-default">Submit</button>
</div>
</form>
-->
<script>
function issues(){
  var org = document.getElementById("mySelect").value;
  switch(org){
    case "0":
      hideall();
      break;
    case "one":
      show("one");
      break;
    case "two":
      show("two");
      break;
  }
}

function show(id){
  hideall();
  console.log(id);
  $("#"+id).show();
  $("#submit").show();
}

function hideall(){
  $("#one").hide();
  $("#two").hide();
  $("#submit").hide();
}
</script>
{% endblock %}
