<div class="">
  <a class="waves-effect waves-light btn teal dashboard-show-hide" style="margin-bottom: 1em;" ng-show="step >= 0" ng-click="set_step(step - 1)">
    <i class="material-icons left">navigate_before</i>
  </a>
  <a class="waves-effect waves-light btn teal dashboard-show-hide" style="float: right; margin-bottom: 1em;" ng-show="step > 0 && datasets" ng-click="set_step(step + 1)">
    <i class="material-icons left">navigate_next</i>
  </a>

  <div class="dashboard-show-hide" ng-show="step == -1">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Diagnostic Output
        </div>
        <div class="collapsible-body">
          some output
          <ul>
            <li ng-repeat="diag in diags"></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Model Output
        </div>
        <div class="collapsible-body">
          some output
          <ul>
            <li ng-repeat="model in model_output"></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Observations
        </div>
        <div class="collapsible-body">
          some obs
          <ul>
            <li ng-repeat="obs in obs_list"></li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="waves-effect waves-light btn" href="#" ng-click="set_step(0)" style="margin: 24px;">import data</a>
  </div>

  <!-- Datapath selection -->
  <!-- Step 0 -->
  <div class="dashboard-show-hide" ng-show="step == 0 && ready == true">
    <h2 style="text-align: center">Select a data source</h2>
    <ul class="collapsible popout" id="data-select-collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <a class="waves-effect waves-light btn" href="#" ng-click="set_datapath('local')">
            Local storage
          </a>
          <i class="material-icons">file_upload</i>
        </div>
        <div class="collapsible-body">
          <div class="file-field input-field" style="padding: 1em;">
            <div class="btn">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <a class="waves-effect waves-light btn" href="#" ng-click="set_datapath('server')">
            Remote Server
          </a>
          <i class="material-icons">dns</i>
        </div>
        <div class="collapsible-body">
          <p class="card">
            <input type="text" id="remote-server-url" placeholder="server url" value="">
            <a href="#!" class="waves-effect waves-light btn">
              import
            </a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header active">
          <a class="waves-effect waves-light btn" href="#">
            Earth System Grid Federation
          </a>
          <i class="material-icons">cloud</i>
        </div>
        <div class="collapsible-body">
          <p>
            <a href="#" class="waves-effect waves-light btn" ng-click="set_datapath('esgf')">ESGF</a>
          </p>
        </div>
      </li>
    </ul>
  </div>


  <!-- TODO: Get this to work with a template, so that when new windows are created dynamicall they compile themselves -->
  <!-- step 1:select node pane -->
  <div class="dashboard-show-hide" ng-show="datapath == 'esgf'">
    <form class="dashboard-show-hide esgf_scope_[[$id]]" ng-show="step == 1 && ready == true">
      <p ng-repeat="node in node_list">
        <input type="checkbox" id="[[node + $id]]" value="[[node]]"/>
        <label for="[[node + $id]]">[[node]]</label>
      </p>
      <a class="waves-effect waves-light btn" ng-click="select_nodes($id)"> select </a>
    </form>


    <!-- step 2: select facet -->
    <div class="dashboard-show-hide" ng-show="step == 2 && ready == true">
      <div class="card-panel teal">
        <span class="white-text">Search Terms</span>
        <div class="collection">
          <a href="#!" class="collection-item waves-effect waves-dark"  ng-repeat="(facet, option) in searchTerms" ng-click="remove_facet(facet)">
            [[facet]] : [[option]]
          </a>
        </div>
        <a href="#!" class="waves-effect waves-light btn" ng-click="search()">Search</a>
        <div class="input-field" style="padding: 1em;" id="facet_lookup_field">
          <input class="typeahead" type="text" placeholder="lookup">
        </div>
      </div>
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-repeat="(facet,options) in facet_options" class="facet_holder" id="[[facet]]">
          <div class="collapsible-header" id="[[facet]]_collapsible" ng-click="facet_option_typeahead(facet)">
            <i class="material-icons" id="[[facet]]_arrow">play_arrow</i>
            [[facet]]
          </div>
          <div class="collapsible-body" id="[[facet]]_lookup">
            <ul class="collection">
              <li class="collection-item">
                <div class="input-field" style="padding: 1em;">
                  <input class="typeahead" type="text" id="[[facet]]_lookup_field" placeholder="lookup">
                </div>
              </li>
              <li class="collection-item" ng-repeat="(option, hits) in facet_cache[facet]" style="padding: 1em;">
                <input name="[[facet]]" type="radio" ng-click="searchTerms[facet] = option" id="[[option]]" />
                <label for="[[option]]">[[option]] : [[hits]]</label>
              </li>
              <li class="collection-item" ng-show="show_more_facet_options(facet)">
                <a href="#" class="waves-effect waves-light btn" ng-click="next_facet_page(facet)">more</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>



    <!-- step 3: select a dataset -->
    <div class="dashboard-show-hide" ng-show="step == 3 && ready == true">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li ng-repeat="key in dataset_cache track by $index">
          <div class="collapsible-header" ng-click="switch_arrow($index)">
            <i class="material-icons" id="[[$index]]_arrow">play_arrow</i>
            [[key.title]]
          </div>
          <div class="collapsible-body">
            <ul class="collection popout" style="padding-left: 1em;">
              <li class="collection-item" ng-repeat="(k,v) in key">
                [[k]] : [[v]]
              </li>
            </ul>
          </div>
        </li>
        <li ng-show="show_more_datesets()">
          <a href="#" class="waves-effect waves-light btn" ng-click="next_dataset_page()">more</a>
        </li>
      </ul>
    </div>
  </div>

</div>
