<div class="" ng-init="init()">
  <style media="screen">
    .ace_editor  {
      height : 70vh;
    }
  </style>
  <hr>
  <div class="run_list dashboard-show-hide" ng-show="ready == true">
    <p style="margin-left: 5vw;">Configuration List</p>
    <ul class="collapsible popout" id="run-list" data-collapsible="accordion">
      <div class="input-field col s6" ng-show="config_name_list.length > 0" style="margin-left: 3vw;">
        <input id="config_list_filter" ng-model="config_list_filter" type="text">
        <label for="config_list_filter">filter</label>
      </div>
      <li>
        <a href="" 
          class="waves-light waves-effect btn" 
          ng-click="trigger_option('New run configuration')">
            new configuration
        </a>
      </li>
      <li ng-repeat="conf in config_name_list | orderBy:conf| filter:config_list_filter">
        <div class="collapsible-header" ng-click="set_selected_run(conf)">
          <span class="">[[conf]]</span>
        </div>
        <div class="collapsible-body">
          <div class="">
            <ul class="collection">
              <li class="collection-item">
                <a href="#" 
                   class="waves-effect waves-light btn"
                   ng-click="edit_run_config(conf)">
                    edit configuration
                </a>
                <span style="margin-left: 2vw;">
                  <a href="#" class="waves-effect waves-light btn" 
                     style="color:#009688; padding-bottom: 5px; vertical-align:middle;" 
                     ng-click="start_run(conf)">
                    start
                  </a>
                </span>
                <span style="margin-left: 2vw;">
                  <a href="#" class="waves-effect waves-light btn" 
                     style="color:#009688; padding-bottom: 5px; vertical-align:middle;" 
                     ng-click="delete_run(conf)">
                    delete
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <p style="margin-left: 5vw; margin-top: 1vw;"> Run queue </p>
        <div class="input-field col s6" ng-show="all_runs.length > 0" style="margin-left: 3vw;">
          <input id="run_list_filter" ng-model="run_list_filter" type="text">
          <label for="run_list_filter">filter</label>
        </div>
        <li ng-repeat="run in all_runs | orderBy: 'job_id' : true | filter:run_list_filter">
          <div class="collapsible-header" ng-click="get_run_data(run, run.job_id)">
            <span>[[run.run_name]]_[[run.job_id]]</span>
            <span style="float: right; margin-right: 2vw; color:grey;" id="[[run.job_id]]_queue_status"></span>
          </div>
          <div class="collapsible-body">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header">
                  <span>run config</span>
                </div>
                <div class="collapsible-body">
                  <table>
                      <tr ng-repeat="(key,value) in selected_run_config | orderBy:key" style="padding: 1vh;">
                        <th>[[key]]</th>
                        <td>[[value]]</td>
                      </tr>
                  </table>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <span>output</span>
                </div>
                <div class="collapsible-body">
                  <ul class="collection">
                  <!-- ng-show="output_list[run.run_name + '_' + run.job_id].length != 0" -->
                    <li  class="collection-item">
                      <div class="" ng-repeat="item in output_cache[run.run_name + '_' + run.job_id]">
                        <a href="#"
                           class="[[run.run_name]]_preview"
                           id="[[run.run_name]]_[[item.slice(0,20)]]"
                           title="[[item]]"
                           style="padding: 0.5rem; margin-left: 3vw; cursor: pointer; cursor: hand;"
                           ng-click="open_output(run.run_name, item, run.job_id)">
                           [[item]]
                        </a>
                        <br>
                      </div>
                      <div class="" style="float: right;" ng-show="show_image">
                        <img style="position: relative;" id="[[run]]_image_view" src="" />
                      </div>
                      <a href="#"
                         class="waves-effect waves-light btn"
                         style="margin-top: 1vh;"
                         ng-click="load_output_cache()">
                         more
                      </a>
                      <a href="/run_manager/get_output_zip?run_name=[[run.run_name]]_[[run.job_id]]&run_type=diagnostic"
                         style="margin-top: 1vh;"
                         class="waves-effect waves-light btn">
                         download zip
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
    </ul>
  </div>


  <!-- Modals -->

  <!-- new model modal -->
  <div class="modal" id="new_run_modal">
    <div class="modal-content">
      <div class="input-field col s6">
          <input id="new_run_name" type="text">
          <label for="new_run_name">New Configuration Name</label>
      </div>
      <div class="" id="run_type_radio_select">
        <p ng-repeat="type in run_types">
          <input name="run_types" type="radio" id="[[type]]_radio" data-run-type="[[type]]"/>
          <label for="[[type]]_radio">[[type]]</label>
        </p>
      </div>
      <a href="#" class="waves-effect waves-light btn" ng-click="create_run()">create configuraiton</a>
    </div>
  </div>

  <!-- start run modal -->
  <div class="modal" id="start_run_modal">
    <div class="modal-content" style="padding: .5vh;">
      <ul class="collection dashboard-show-hide" id="run_collection">
        <li class="collection-item" ng-repeat="conf in config_name_list | orderBy:conf" >
          <i class="material-icons" style="vertical-align:middle;">play_circle_outline</i>
          <a href="#" class="" style="color:#009688; padding-bottom: 5px; vertical-align:middle;" ng-click="start_run(conf)">
            [[conf]]
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- stop run modal -->
  <div class="modal" id="stop_run_modal" >
    <div class="modal-content" style="padding: .5vh;">
      <ul class="collection dashboard-show-hide" id="run_collection">
        <li class="collection-item" ng-repeat="run in all_runs" ng-show="run.status == 'in_progress'">
          <i class="collection-icon material-icons">pause_circle_outline</i>
          <a href="#" class="collection-ancher" style="color:#009688;" ng-click="stop_run(run)">
            [[run.config.run_name]]: [[run.job_id]]
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- text edit modal -->
  <!-- <div class="modal" id="text_edit_modal" style="width: 90%;">
    <section>
      <a href="#" id="text_edit_save_btn" class="waves-effect waves-light btn" style="margin: .5vh;" ng-click="update_script()">save</a>
      <div ui-ace="aceOption" ng-model="aceModel"></div>
    </section>
  </div> -->
  <div class="modal" id="text_edit_modal" style="width: 90%;">
    <section>
      <div id="text_display">
        <p>
          [[text_to_be_displayed]]
        </p>
      </div>
    </section>
  </div>

  <!-- copy template modal -->
  <div class="modal" id="copy_template_modal" style="padding: .5vh;">
    <div class="modal-content">
      <div class="input-field col s6">
          <input id="new_template_name" type="text">
          <label for="new_template_name">New template Name</label>
      </div>
      <a href="#"
         class="waves-effect waves-light btn"
         ng-click="from_existing_template = true"
         style="margin-left: 0.5vw; margin-right: 0.5vw;">
         Copy from existing template
       </a>
      <a href="#"
         class="waves-effect waves-light btn"
         ng-click="create_new_template_edit()"
         style="margin-left: 0.5vw; margin-right: 0.5vw;">
         create new template
       </a>
      <ul class="collection dashboard-show-hide" id="template_collection" ng-show="from_existing_template == true">
        <li class="collection-item" ng-repeat="template in template_list">
          <a href="#" class="" style="color:#009688;" ng-click="select_template(template)">
            <i class="material-icons" >insert_drive_file</i>
            [[template]]
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Delete run modal -->
  <div class="modal" id="delete_run_modal" style="padding: 2vh;">
    <p>Perminately delete this run configuration?</p>
    <a href="" 
       class="waves-effect waves-light btn red"
       ng-click="delete_run_option('yes')">
        yes
    </a>
    <a href="" 
       class="waves-effect waves-light btn"
       ng-click="delete_run_option('no')">
        no
    </a>
  </div>

  <!-- Diagnostic run configuration modal -->
  <div class="modal" id="diagnostic_run_setup_modal" style="padding: 2vh;">
    <div class="input-field col s12">
      <select id="diag_model_select">
        <option value="" disabled selected>Model</option>
        <option ng-repeat="model in diag_model_options" id="diag_select_model_[[model]]"value="[[model]]">[[model]]</option>
      </select>
    </div>
    <div class="input-field col s12">
      <select id="diag_obs_select">
        <option value="" disabled selected>Observation</option>
        <option ng-repeat="obs in diag_obs_options" id="diag_select_obs_[[obs]]" value="[[obs]]">[[obs]]</option>
      </select>
    </div>
    <div class="input-field col s12">
      <p ng-repeat="set in diag_set_options" id="diag_set_select">
        <input type="checkbox" class="filled-in diag_set_checkbox" ng-if="set != 'all'" id="diag_set_select_[[set]]" value="[[set]]"/>
        <input type="checkbox" class="filled-in" ng-if="set == 'all'" ng-click="select_all_diag_set()" id="diag_set_select_[[set]]" />
        <label for="diag_set_select_[[set]]">[[set]]</label>
      </p>
    </div>
    <a href="" class="waves-effect waves-light btn" style="margin: 1vw;" ng-click="save_diag_config()">save</a>
  </div>

  <!-- Image view modal -->
  <div class="modal" id="image_view_modal" style="width: fit-content; max-height: 80%;">
    <p id="image_title" style="text-align: center;"></p>
    <img id="image_view" style="margin: 1vw;" class="" src="" />
    <div class="" style="display: flex; justify-content: space-between; width: 100%">
      <div>
        <a href="#"
         target="_blank"
         ng-click="$('#image_view_modal').closeModal()"
         style="margin: 1vw;"
         class="waves-effect waves-light btn"
         id="image_link">
          new window
       </a>
      </div>
      <div>
        <a href=""
          style="margin:1vw;"
          class="waves-effect waves-light btn"
          id="image_set_favorite"
          ng-click="set_favorite_plot()">
           favorite
       </a>
      </div>
      <div>
        <a href="#"
          style="margin: 1vw;"
          class="waves-effect waves-light btn"
          id="image_download_link"
          download>
           download
       </a>
      </div>
    </div>
  </div>
  
</div>
