<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for recaptcha -->

    <title> {% block title %} ACME {% endblock %}</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!-- Bootstrap core CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- For the jsPanel -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "media/favicon.ico"   %}">

    {% block extra_headers %} {% endblock %}

    <script src="{% static "js/resources/bootstrap.min.js" %}"></script>
  </head>

  <body role="document" class="day">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#" style="margin-left: 2vw;" class="brand-logo">ACME</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="acme-link"><a style="color: #64b5f6" href="/acme">ACME</a></li>
          <li id="dashboard-link"><a style="color: #64b5f6" href="/acme/dashboard">Dashboard</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-right"><a style="color: #64b5f6" href="/acme/add_credentials">{{ user.username }}</a></li>
          <li class="navbar-right"><a style="color: #64b5f6" href="/acme/logout">Log Out</a></li>
          {% else %}
          <li class="navbar-right"><a style="color: #64b5f6" href="/acme/login?next={% url 'index' %}">Welcome Guest</a></li>
          <li class="navbar-right"><a style="color: #64b5f6" href="/acme/login?next={% url 'index' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div class="container theme-showcase" role="main">
      {% block content %}

      {% endblock %}
    </div>
    {% block layout %}
    {% endblock %}


  </body>
  <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
    <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="#">Privacy &amp; Legal Notice</a> &nbsp;
    <a style="color: #64b5f6; margin-left: 2vw;" href="https://github.com/ACME-OUI/acme-web-fe/issues">Site Issues</a>
  </footer>
</html>
