
{% extends "base.html" %}
{% block title %} Gridster Demo {% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/jquery.gridster.css">
<script type="text/javascript" src="static/js/grid.js"></script>

<style type="text/css">
.btn{
  margin-top: 1px;
  margin-bottom: 1px;
}
</style>

<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <button type="button" class="btn" id="provenance">Provenance Capture</button><br/>
    <button type="button" class="btn" id="status">Status Messages</button><br/>
    <button type="button" class="btn" id="science">Science Input</button><br/>
    <button type="button" class="btn" id="nodeList">Node List</button><br/>
    <button type="button" class="btn" id="heatMap">Heat Map</button><br/>
    <button type="button" class="btn" id="modelRun">Model Run</button><br/>
    <button type="button" class="btn" id="nodeSelect">Node Selector</button><br/>
    <button type="button" class="btn" id="cdat">CDATWeb Analysis</button><br/>
    <button type="button" class="btn" id="charting">Charting System Status</button><br/>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="gridster" id="grid_holder" style="border: 1px solid black; position: relative;">
      <ul></ul>
    </div>
  </div> 
</div>
{% endblock %}
