{% extends "base.html" %}
{% block title %} Gridster Demo {% endblock %}
{% block extra_headers %}

  <!-- CSS resources for this page -->
  <link rel="stylesheet" type="text/css" href="static/css/jquery.gridster.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/MetroJs.css">
  <link rel="stylesheet" type="text/css" href="static/css/grid_custom.css">

  <!-- JS resources for this page -->
  <script type="text/javascript" src="static/js/grid.js"></script>
  <script type="text/javascript" src="static/js/menu.js"></script>
  <script type="text/javascript" src="static/js/MetroJs.js"></script>
  <script type="text/javascript" src="static/js/jquery.gridster.js"></script>

  <script type="text/javascript">
  $('body').ready(function(){
    $('#drop-down-tab').click(function(e){
      $('#drop-down-menu').slideToggle('fast');
    });

    $('#toggle-slide-left').click(function(e){
      $('#slide-menu-left').animate({width: 'toggle'}, 500, 'linear');
      if( $('#toggle-left-a').text() == 'Window Menu') {
        $('#toggle-left-a').text('Close Menu');
      } else {
        $('#toggle-left-a').text('Window Menu');
      }
    });
  });
  </script>
  
{% endblock %}


{% block new_button_left_link%}
    <li class="navbar-left" id="toggle-slide-left" style="position: fixed; left: 10px;"><a id="toggle-left-a" href="#">Window Menu</a></li>
    <li class="navbar-left" id="drop-down-tab" style="position: fixed; left: 80px;"><a style="color: #000;" href="#">Dropdown Menu</a></li>
{% endblock %}

{% block dropmenu %}
  <!-- Hidden node menu-->
  <div id="drop-down-menu" style="display: none; z-index: 20;">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p style="color: #000;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis purus condimentum faucibus placerat. In non sem arcu. In molestie dignissim mauris, sit amet ultrices purus maximus a. Morbi eu eleifend dolor. Morbi congue nibh nibh, vel efficitur mauris convallis malesuada. Donec tempus massa justo, condimentum vulputate neque ultricies vel. Nulla pretium nibh a dolor congue efficitur.
          </p>
        </div>
      </div>
    </div>
  </div><!-- end node menu -->

  <nav class="menu" id="slide-menu-left">
    <br>
    <ul>
      <li><button type="button" class="btn menu-btn" id="provenance">Provenance Capture</button></li>
      <li><button type="button" class="btn menu-btn" id="status">Status Messages</button></li>
      <li><button type="button" class="btn menu-btn" id="science">Science Input</button></li>
      <li><button type="button" class="btn menu-btn" id="nodeList">Node List</button></li>
      <li><button type="button" class="btn menu-btn" id="heatMap">Heat Map</button></li>
      <li><button type="button" class="btn menu-btn" id="modelRun">Model Run</button></li>
      <li><button type="button" class="btn menu-btn" id="nodeSelect">Node Selector</button></li>
      <li><button type="button" class="btn menu-btn" id="cdat">CDATWeb Analysis</button></li>
      <li><button type="button" class="btn menu-btn" id="charting">Charting System Status</button></li>
    </ul>
    <br>
    <form>
      <label for="LayoutStyle" style="color: #000;">Layout Style</label>
      <select name="LayoutStyle" id="LayoutStyle">
        <option value="balanced">Balanced</option>
        <option value="left-weighted">Left Weighted</option>
        <option value="right-weighted">Right Weighted</option>
      </select>
    </form>    
  </nav> <!-- Nav left menu -->
  
  <div class="wrapper" >
    <div class="demo" style=" margin: 0 auto 0 auto;">
      <div class="gridster" id="grid_holder" style="border: 1px solid black;">
          <ul>
          </ul>
      </div>
    </div> <!-- Div demo -->
  </div> <!-- Wrapper -->
  
{% endblock %}

{% block content %}
  <!-- <div style="position: fixed; top: 60px; left: 50px;">
    <button class="btn toggle-slide-left">Slide Menu Left</button>
  </div> -->


 
  
{% endblock %}