{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}


<style>
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
</style>
<link rel="stylesheet" type="text/css" href="static/css/jquery.jspanel.min.css">
<script type="text/javascript" src="static/js/jquery.jspanel.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>

<div><button type="button" class="btn" id="spawn">Create New Window</button></div>
<div style="width: 1000px; height: 900px; position: relative;" class="panel panel-primary contpanel" id="o-draggable" ></div>



{% endblock %}
